extends layout 
 
block content 
  h1= title 
 
  form(id='DogForm', action="/resource/dogs", method="POST") 
    div.form-group 
        label.dogAttr(for='dogType') Dog type 
        input#dog_type(type='text', name='dogType') 
    div.form-group 
        label.dogAttr(for='dogName') Dog Name 
        input#dog_name(type='text', name='dogName') 
    div.form-group 
        label.dogAttr(for='price') Dog cost 
        input#price(type='number', name='price') 
    input(type="submit") 
 
  script. 
    document.forms['DogForm'].addEventListener('submit', (event) => { 
      dogObj= new Dog()
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(dogObj) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 