body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dogAttr { 
  background-color: aquamarine; 
  width: 120px; 
} 

button{
  margin: 10px;
}

.row-style{
 background-color: rgb(166, 236, 187);
 padding: 2px;
 border-radius: 1px;
 padding-bottom: 1px;
 border-style: groove;

}
